<!DOCTYPE html>
<html>
  <head>
    <title>Search Analytics App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <h1>Analytics</h1>
      <table>
        <thead>
          <tr>
            <th>Query</th>
            <th>Count</th>
            <th>User IPs</th>
          </tr>
        </thead>
        <tbody>
          <% @queries.each do |query| %>
            <tr>
              <td><%= query.content %></td>
              <td><%= query.count %></td>
              <td><%= query.user_ips.join(", ") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <a href="<%= root_path %>">Back to Home</a>
    </div>
  </body>
</html>